@model PessoaModel
@{
    ViewData["Title"] = "Pessoa";
}

<h1>@ViewData["Title"]</h1>
<p>Página de cadastro de pessoa.</p>

<form asp-action="Create">
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputName" asp-for="Nome" placeholder="ex: Fulano de Tal">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" value="1" id="terms_and_conditions" onchange="document.getElementById('submit_button').disabled = !this.checked;">
        <label class="form-check-label" for="terms_and_conditions">Aceito todos os termos e condições</label>
    </div>
    <button type="submit" id="submit_button" value="Create" class="btn btn-primary" disabled>Salvar</button>
</form>