@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-md-12"> 
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Academia Trainee</h2>
          <p>Aprendendo aplicações Web com .NET</p>
          <button class="btn btn-outline-secondary" type="button">Isso é um botão inutil</button>
        </div>
    </div>
</div>
