@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-md-12"> 
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Academia Trainee</h2>
          <p>Aprendendo aplicações Web com .NET</p>
          <button class="btn btn-outline-secondary text-dark" type="button" onclick="alerta()">Isso é um botão inútil</button>
          <a asp-area="" asp-controller="Home" asp-action="Privacy"><button class="btn btn-outline-secondary text-dark" type="button">Redireciona</button></a>
        </div>
    </div>
</div>

<script>
    function alerta(){
        alert('Você clicou no botão inútil');
    }
</script>
