@{
    ViewData["Title"] = "Empresa";
}
<h1>@ViewData["Title"]</h1>
<p>Página de cadastro de empresa.</p>

<form>
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputName">
    </div>
    <div class="mb-3">
        <label for="exampleInputFantasyName" class="form-label">Nome Fantasia</label>
        <input type="text" class="form-control" id="exampleInputFantasyName">
    </div>
    <div class="mb-3">
        <label for="exampleInputCNPJ" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="exampleInputCNPJ">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Pode ficar tranquilo que não compartilhamos seu email com ninguém.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Aceito todos os termos e condições</label>
    </div>
    <!--Coloquei pro botão de enviar redirecionar pra Home-->
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Enviar</button>
</form>

