@model EmpresaModel
@{
    ViewData["Title"] = "Empresa";
}

<h1>@ViewData["Title"]</h1>
<p>Página de cadastro de empresa.</p>

<form asp-action="Create">
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputName" asp-for="Nome" placeholder="ex: Evino ES Mercadorias">
    </div>
    <div class="mb-3">
        <label for="exampleInputFantasyName" class="form-label">Nome Fantasia</label>
        <input type="text" class="form-control" id="exampleInputFantasyName" asp-for="NomeFantasia" placeholder="ex: Evino">
    </div>
    <div class="mb-3">
        <label for="exampleInputCNPJ" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="exampleInputCNPJ" asp-for="CNPJ" placeholder="ex: XX.XXX.XXX/0001-XX">
    </div>
    <!--
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: seunome@exemplo.com">
        <div id="emailHelp" class="form-text">Pode ficar tranquilo que não compartilhamos seu email com ninguém.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    -->
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" value="1" id="terms_and_conditions" onchange="document.getElementById('submit_button').disabled = !this.checked;">
        <label class="form-check-label" for="terms_and_conditions">Aceito todos os termos e condições</label>
    </div>
    <button type="submit" id="submit_button" value="Create" class="btn btn-primary" disabled>Salvar</button>
</form>
